<ion-header>
    <ion-navbar color="primary">
        <ion-title>Bookings</ion-title>
        <ion-buttons end>
      <button ion-button (click)="logout()" style="background-color: #d50808;">Logout</button>
  </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="common-bg">
  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 margin-bottom>
        <ion-card *ngIf="!bookings.length" class="primary-bg" margin-top>
          <ion-card-content>
          	<p text-center class="text-white">You have no bookings yet.</p>
          </ion-card-content>
        </ion-card>

        <ion-list>
            <ion-item-sliding *ngFor="let booking of bookings">
                <ion-item>
                    <ion-thumbnail item-left>
                        <img src="{{booking.thumb}}"/>
                    </ion-thumbnail>
                    <h2>{{booking.resName}}</h2>
                    <p>{{booking.timeBooked}} ∙ Rs. {{booking.totalBill}}</p>
                    <ion-badge class="purple-bg" *ngIf="!booking.rating && booking.status==''">Order Placed</ion-badge>
                    <ion-badge class="purple-bg" *ngIf="!booking.rating && booking.status=='preparing'">Preparing</ion-badge>
                    <ion-badge class="purple-bg" *ngIf="!booking.rating && booking.status=='prepared'">Prepared</ion-badge>
                    <ion-badge class="green-bg" *ngIf="booking.rating">You rated {{booking.rating}} Stars</ion-badge>
                    <button  class="blue-bg" ion-button  *ngIf="!booking.rating && booking.status=='done'" (click)="openRatingBox(booking.resId, booking.cartId)">
                        Rate
                  </button>
                  </ion-item>
            </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
