<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ resturantName }}</ion-title>
  </ion-navbar>

  <!--  -->
  <ion-toolbar no-border-top>
      <ion-scroll scrollX="true" style="width:100vw;height:40px" >
      <ion-segment [(ngModel)]="selectedSegment">
        <ion-segment-button value="Starters">
          Starters
        </ion-segment-button>
        <ion-segment-button value="mainCourses">
          Main Courses
        </ion-segment-button>
        <ion-segment-button value="Beverages">
          Beverages
        </ion-segment-button>
        <ion-segment-button value="Salads">
            Salads
          </ion-segment-button>
          <ion-segment-button value="Others">
              Others
            </ion-segment-button>
            
      </ion-segment>
      </ion-scroll>
  </ion-toolbar>

</ion-header>
<style></style>
<ion-content class="trips cars common-bg">
  <ion-grid>
    <ion-row>
      <!--list of trips-->
      <ion-col col-12 col-md-6 col-lg-6 col-xl-4 padding *ngFor="let trip of trips" tappable (click)="viewDetail(trip.id)">
        <div class="trip car card" *ngIf="showCategory(trip.category)">
          <div id="hello" class="background border-bottom" [ngStyle]="{'background-image': 'url(' + trip.thumb + ')'}">
            <div class="background-filter rlt">
              <div class="align-bottom" padding-left padding-right>
                <h6 class="pull-left text-white" ion-text>{{ trip.name }}</h6>
                <h6 class="pull-right text-white" ion-text>Rs. {{ trip.price }}</h6>
                <div class="clear"></div>
              </div>
            </div>
          </div>
          <div class="padding-sm primary-bg">
            <span ion-text class="text-white">{{ trip.about }}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
    <button ion-button (click)="viewOrder()"  full>Pay now!
      <ion-badge id="notifications-badge" color="danger">{{nItemsinCart}}</ion-badge>
    </button>
</ion-footer>
