<ion-header class="animated fadeIn no-shadow">
    <ion-navbar class="no-border" color="primary">
      <ion-title>
        {{ngoName}}
      </ion-title>
      <ion-buttons end>
        <button ion-button (click)="about()">About</button>
        <!--
        <button ion-button (click)="addMarker()"><ion-icon name="add"></ion-icon>Add Marker</button>
        -->
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content class="animated fadeIn common-bg" >
  <h1 style='text-align: center;color: white;font-family: "Lucida Console", Courier, monospace;'>Submit Entry</h1>

  <form [formGroup]="onLoginForm" class="form">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="Person Name" formControlName="name"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="CNIC" formControlName="cnic" (keyup)="searchCnic()"></ion-input>
        </ion-col>
      </ion-row>
      <p id="cnicError" (click)="autofill()" style="display: none;">CNIC exists in database. Click this to auto-fill values</p>
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="Phone Number" formControlName="phone"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="Address" formControlName="address"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-select formControlName="profession" placeholder="Profession">
            <ion-option *ngFor="let key of professions" value="{{key.id}}">{{key.title}}</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <!--
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="Number of family members" formControlName="nFamily"></ion-input>
        </ion-col>
      </ion-row>
      -->
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="Reference" formControlName="reference"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <!--
          <ion-input placeholder="eligibleforZakat" formControlName="eligibleforZakat"></ion-input>
          -->
          <ion-select formControlName="eligibleforZakat" placeholder="Eligible for Zakat">
            <ion-option value="yes">Yes</ion-option>
            <ion-option value="no">No</ion-option>
          </ion-select>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-input placeholder="Income" formControlName="income"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>


    <img [src]=base64img class="square" *ngIf="base64img!=''">
      <div class="square" *ngIf="base64img==''">
        <button class="camera-circle" ion-button style="z-index:20" (click)="imageCapturedGallery()">
          <ion-icon name="images" style="color:#000 !important"></ion-icon>
        </button>
        <button class="camera-circle" ion-button style="z-index:20" (click)="imageCaptured()">
          <ion-icon name="camera" style="color:#000 !important"></ion-icon>
        </button>
      </div>

      <!--
        margin-top:427px;

      <div class="button-row">
        <button class="zoom" ion-button icon-only style="margin-right:25%;float: left;" (click)="clear()" *ngIf="base64img!=''">
          <ion-icon class="zoom-btn" name="close"></ion-icon>
        </button>
        <button class="zoom" ion-button icon-only style="margin-left:25%;float: right;" (click)="nextPage()"
          *ngIf="base64img!=''">
          <ion-icon class="zoom-btn" name="arrow-forward"></ion-icon>
        </button>
      </div>
      -->



    <ion-row>
      <button ion-button full color="dark" (click)="sendEntry(onLoginForm.get('name').value, onLoginForm.get('cnic').value, onLoginForm.get('phone').value, onLoginForm.get('address').value, onLoginForm.get('profession').value, onLoginForm.get('reference').value, onLoginForm.get('eligibleforZakat').value, onLoginForm.get('income').value)"><span class="text">Submit</span></button>    

      <!--
      <ion-col col-8>
        <button ion-button full (click)="changeEvent()">{{event}}</button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
      
      <div #map id="map"></div> 
      --> 
    </ion-row>
    
  </form>
  

</ion-content>
